header.header
  .container.header--container
    img(src="./images/Logotype.svg", alt="logo")
    nav
      ul.header--ul
        li.header--li
          a(href="") О блоге
        li.header--li
          a(href="") Страны
        li.header--li
          a(href="") Интервью
        li.header--li
          a(href="") Лайфхаки
        li.header--li
          a(href="") Новости